* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: jost;
}

/* header */
/* -------------------------------------------------------------------- */
.nav-bar-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 6rem;
  border-bottom: 2px solid #ff2020;
}
.flex-header-div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: x-large;
}
#header-logo {
  margin-top: 1.3rem;
}
.flex-div-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  /* width: 20%; */
}
.flex-header-item {
  margin-right: 0.5rem;
}
.flex-header-div ul li {
  display: inline-block;
  padding: 1rem;
  margin-top: 1rem;
}
.flex-header-item span a,
.flex-header-div ul li a {
  text-decoration: none;
  color: black;
}
.flex-header-item input[type="text"] {
  height: 1.8rem;
  border: 1px solid #ff2020;
  border-radius: 1rem;
}
.flex-header-item input[type="text"]:hover {
  width: 13rem;
}

/* hero section */

.hero-section {
  background-color: antiquewhite;
  display: flex;
  height: 90vh;
  justify-content: flex-end;
  gap: 5rem;
}
.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-10rem);
  width: 30%;
  margin-top: 7rem;
  margin-left: 10rem;
  flex: 1.5;
}
.description h2 {
  font-size: 68px;
  font-weight: 500;
  line-height: 78px;
  margin-bottom: 10px;
}
.description p {
  font-size: 20px;
  line-height: 1.5;
}
.description a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.5s;
  padding: 17px 10px;
  margin-top: 1rem;
  text-align: center;
  width: 10rem;
  background-color: rgb(248, 133, 1);
}
.description a:hover {
  border: 2px solid rgb(248, 133, 1);
  background-color: transparent;
  color: rgb(248, 133, 1);
}

.image-container {
  flex: 2;
  margin-top: 7rem;
}
.home-product-image {
  width: 100%;
  height: 90%;
}
.product-overview {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.products-container {
  margin-top: 2rem;
  gap: 1rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15rem;
}
.icon-container {
  display: flex;
  justify-content: center;
}
.icon {
  width: 25rem;
  height: 25rem;
}
.price {
  margin-top: 1rem;
  margin-left: 4rem;
  color: #666;
}
.shop {
  margin-left: 10rem;
  text-decoration: none;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.5s;
  padding: 10px 5px;
  margin-top: 1rem;
  text-align: center;
  width: 10rem;
  background-color: rgb(248, 133, 1);
}
.shop:hover {
  border: 2px solid rgb(248, 133, 1);
  background-color: transparent;
  color: rgb(248, 133, 1);
}
/* Footer */
/* ------------------------------------------------------------------------ */
.footer-flex {
  width: 100%;
  height: 80vh;
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flex-footer-div {
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin: 1rem;
}
.underlined-div::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  width: 90%;
  background: whitesmoke;
}
.flex-footer-item {
  margin-bottom: 3rem;
}
.flex-footer-item ul {
  margin-top: 1rem;
  margin-bottom: 2rem;
  list-style: none;
}
.flex-footer-item ul li {
  margin-top: 0.7rem;
}
.flex-footer-item ul li a {
  text-decoration: none;
  color: aliceblue;
}
.flex-footer-item input[type="text"] {
  width: 18rem;
  padding: 1rem;
}
.flex-footer-item input[type="button"] {
  width: 8rem;
  padding: 1rem;
  background-color: #ff2020;
  color: white;
}
